<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean class="com.ywkj.nest.core.cache.CacheFactory"/>
    <bean class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>dozer/Commodity.xml</value>
            </list>
        </property>
    </bean>
    <bean class="com.ywkj.nest.ddd.EventBus">
        <property name="provider">
            <bean class="com.ywkj.nest.kafka.KafkaChannelProvider">
                <property name="brokers" value="192.168.0.244:9092"></property>
                <property name="zkconnect" value="192.168.0.244:2181,192.168.0.244:2182,192.168.0.244:2183"></property>
                <property name="prefetchCount" value="1"></property>
            </bean>
        </property>
    </bean>
    <bean id="springAspect" class="com.ywkj.nest.ddd.SpringAspect"/>
    <bean class="TestUnitOfWork"/>

    <context:annotation-config/>
    <context:component-scan base-package="services"/>
    <context:component-scan base-package="models"/>
    <context:component-scan base-package="queries"/>


    <aop:config proxy-target-class="true">
        <aop:aspect ref="springAspect">
            <aop:pointcut id="springPoint" expression="execution(* services.*.*(..))"/>
            <aop:around method="aroundMethod" pointcut-ref="springPoint"/>
        </aop:aspect>
    </aop:config>
</beans>