<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>


    <bean name="beanContainerProvider" class="com.zhaofujun.nest.spring.SpringBeanContainerProvider"></bean>
    <bean name="nestAspect" class="com.zhaofujun.nest.spring.NestAspect"></bean>
    <bean class="com.zhaofujun.nest.spring.test.Application"/>
    <bean class="com.zhaofujun.nest.spring.test.appservices.TestAppservices"></bean>
    <bean class="com.zhaofujun.nest.NestApplication">
        <constructor-arg ref="beanContainerProvider"/>
    </bean>
    <bean class="com.zhaofujun.nest.context.event.EventBus">
        <constructor-arg ref="beanContainerProvider"/>
    </bean>

    <bean class="com.zhaofujun.nest.spring.test.PwdChangedEventHandler"></bean>
    <bean class="com.zhaofujun.nest.spring.test.repositories.UserRepository"></bean>

    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
</beans>